@mixin flexbox($direction, $align) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
  }
  
@media (max-width: 1100px) {
    .rowmobile{
        @include flexbox(column, center);
    }
}

.card{
    background-color: $gray-400;
   }


    
